$slide-height-small: 35px;
$slide-height-large: 50px;





.slide-title{
  width: 100%;
  height: $slide-height-small;
  color: #666666;
  padding: 0;
  background-color: #f4f4f4;
}

.slide-title-unit{
  padding-bottom: 5px;
  font-size: 15px;
  height: $slide-height-small;
  line-height: $slide-height-small;

}

button{
  padding: 0px;
  background-color: transparent;
}

.slide-title-active{
  /*color: map_get($colors, primary);*/
  color: red;
  font-size: 15px
  /*border-bottom: 3px solid map_get($colors, primary);*/
}

