<ion-slides class="slide-title" >
  <ion-slide *ngFor="let slide of slides; let ii=index;">
    <button large clear (click)="onClick(ii)">
      <span class="slide-title-unit" [ngClass]="{'slide-title-active': selectedIndex == ii}">
        {{slide}}
      </span>
    </button>
  </ion-slide>
</ion-slides>
