page-interest-selection {

  .toolbar-title{
    color: #888a8b;
    display: flex;
    align-items: center;
    justify-content: center;

    .headTitle{
      margin-left: 5px;
      font-size: 16px;
      font-weight: bold;
    }

  }


  .tips{

    font-size: 15px;
    color: #6f6687;
    padding-left: 20px;
    margin-bottom: 20px;

  }

  .list{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top:4px;
    border-top: 4px solid #f4f4f4;
    border-bottom: 4px solid #f4f4f4;

  }

  .container {

    position: relative;
    width: 31%;
    padding-top: 22.2%; /* 16:9 Aspect Ratio */
    //border-bottom: 4px solid #f4f4f4;
    margin-bottom: 4px
  }

  .text {
    position:  absolute;
    top: 46%;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .select-active{
    filter: brightness(130%);
    .text{
      color: black;
    }
  }


  .container:nth-child(5n){
    background-color: #c3a96c;
  }


  .container:nth-child(5n+1){
    background-color: #a1993d;
  }

  .container:nth-child(5n+2){
    background-color: #859ccb;
  }

  .container:nth-child(5n+3){
    background-color: #79969f;
  }

  .container:nth-child(5n+4){
    background-color: #a18c89;
  }




  .okBtn{
    width: 100%;
  }






}


























