<ion-header>
  <ion-navbar>
    <ion-title  ><ion-icon name="ios-paper"></ion-icon><span class="headTitle">{{ 'appname' | translate }}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <h1 class="tips">{{'guide.tip' | translate}}</h1>

  <div class="list">

    <button full class="container"  *ngFor="let item of items; let idx=index"  [ngClass]="{'select-active': sel[idx]==true}" (click)="clickInterest(idx)">
      <div class="text">{{item}}</div>
    </button>

  </div>




</ion-content>

<ion-footer>
  <button ion-button [color]="primary" class="okBtn" (click)="clickOk()">{{'guide.next' | translate}}</button>
</ion-footer>

