<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{'settings.agreement' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-content [innerHTML]="agreementTxt">
    </ion-card-content>
  </ion-card>
</ion-content>



























