page-replies {

  .upperMost{
    width:100%;
    height: 15px;
  }

  .commentHost{

    .itemContent{
      border: none !important;
    }

    .listItem{
      border: none !important;
    }

  }


  .replyHead{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;

    .replyHeadText{
      flex: 0 0 120px;
      color: #888a8b ;
      text-align: center;
      font-size: 18px;
    }

    .replyHeadDec{
      flex: 1 1;

      height: 2px;
      background-color: #f4f4f4;
    }

  }

  .mfooter {

    display: flex;
    align-items: stretch;

    .leftback {
      color: #888a8b;
    }

    .leftComment {
      flex: 1 1;
      background-color: #e3e3e5;
      box-shadow: none !important;
      color: #bcbcbc;
    }

    .leftComment .button-inner {
      justify-content: flex-start;
    }

    .right {
      flex: 0 0 80px;
      height: 30px;
      color: #888a8b;

      .icon {
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        //color: #888a8b;
      }
      span {
        font-size: 15px;
        margin-left: 5px;
        //color: red;

      }

    }
  }

}
