<ion-content>

  <div class="upperMost">&nbsp;</div>

  <m-comment-item class="commentHost" [comment]="comment" [hideReport]="true" [hideReplyCount]="true" [hideVote]="true"></m-comment-item>

  <div class="replyHead">

    <div class="replyHeadDec">&nbsp;</div>
    <div class="replyHeadText">{{'newsDetail.replyAll' | translate}}</div>
    <div class="replyHeadDec">&nbsp;</div>

  </div>



  <ion-list class="comments-list" *ngIf="replies && replies.length > 0">
    <m-comment-item *ngFor="let reply of replies" [comment]="reply" [hideReplyCount]="true"  (voteClick)="clickVote($event, reply)" (reportClick)="clickReport($event, reply)" ></m-comment-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNewReplies($event)" threshold="10px" >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-footer>

  <div class="mfooter">

    <button ion-button icon-only [clear]="true"  class="leftback" (click)="navBack($event)">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>

    <button ion-button  class="leftComment"  (click)="writeReply($event)" [round]="true">
      @ {{comment.Name | unameExtract}} : {{'newsDetail.replyWrite' | translate}}
    </button>

  </div>

</ion-footer>



