
.listItem{
  background: none;
  display: -webkit-flex; /* Safari */
  display: flex;
  width:100%;
  border-bottom: 1px solid #e4e4e4;
  height: 130px;

}
.itemLeft{
  -webkit-flex:2 2;
  flex: 2 2;
  text-align: left;
  height: 120px;
  padding-left: 5px;

  display: -webkit-flex; /* Safari */
  display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-around;


  h2 {
    font-size: 18px;
    top: 12px;
    white-space: normal;
    text-overflow: ellipsis;
  }

  p{

    display: flex;
    align-items: center;

    span {

      margin-right: 10px;
      font-size: 15px;
      color: gray;
    }

    img{
      height: 15px;
    }


    .innerRight{
      text-align: right;
      font-size: 15px;
      color: gray;
      flex: 1;
      padding-right: 17px;

      .commentCnt{
        margin-left: 5px;
      }

    }

  }


}

.itemRight{
  -webkit-flex:0 0;
  flex: 0 0 120px;
  height: 120px;

  display: -webkit-flex; /* Safari */
  display: flex;
  align-items: center;
  justify-content: center;
}

.itemRight img{
  height: 90px;
}
