<button class="listItem" (click)="onNewsClick(news)">
  <div class="itemLeft">
    <h2>{{news.Title | longTextCut}}</h2>
    <p>
      <span><m-img *ngIf="news.SourceId" [srcId]="news.SourceId" [kind]='"srcImage"'></m-img></span>
      <span class="date">{{news.Timestamp | timePast | timePastSplit:'num'}}{{news.Timestamp | timePast | timePastSplit:'text' | translate}}</span>
      <ion-icon class="innerRight" name="paper"><span class="commentCnt">{{news.CommentCnt}}</span></ion-icon>
    </p>
  </div>
  <div class="itemRight" *ngIf="news.TitleImage && hasRightImage">
    <m-img *ngIf="news.TitleImage" [src]="news.TitleImage" [kind]='"contentImage"' [nid]="news.Id" #rightImg></m-img>
  </div>
</button>
