<ion-header>

  <ion-navbar>
    <!--<ion-title>News</ion-title>-->
    <ion-title  ><ion-icon name="ios-paper-outline"></ion-icon><span class="headTitle">{{ 'appname' | translate }}</span></ion-title>

  </ion-navbar>

  <m-slide (slideClick)="onSlideClick($event)" [slides]="pageCats" [pageNumber]="4" ></m-slide>

</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="{{ 'common.loading' | translate }}" pullingIcon="none">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!isEmptyPage">
    <m-newslist-item *ngFor="let news of newsList" [news]="news" (newsClick)="getNewsDetails(news)"></m-newslist-item>
  </ion-list>


  <ion-list class="fakeList" *ngIf="isEmptyPage">
    <div class="fakeItem" *ngFor="let fakeItem of emptyPages" >
      <div class="fakeLeft">
        <div class="fakePhoto"></div>
      </div>
      <div class="fakeRight">
        <div class="fakeText"></div>
        <div class="fakeText"></div>
      </div>
    </div>
  </ion-list>


</ion-content>

























