page-news-list {

  .toolbar-title{
    color: #888a8b;
    display: flex;
    align-items: center;
    justify-content: center;

    .headTitle{
      margin-left: 5px;
      font-size: 16px;
    }

  }

  ion-header{
    background-color: white;
  }
  ion-navbar.toolbar {
    min-height: 40px;
  }


  ion-buttons[start]{
    order: 2;
  }




  //fake list

  .fakeList{

    .fakeItem:not(:last-child){
      border-bottom: 1px solid #e4e4e4;
    }

    .fakeItem{

      display: flex;

      .fakeLeft{

        flex: 0 0 100px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fakePhoto{

          margin: 20px 20px;

          width: 80px;
          height: 80px;

          background-color: #f4f4f4;

        }

      }

      .fakeRight{

        flex: 1 1;
        padding: 20px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: stretch;

        .fakeText{

          margin-right: 10px;
          height: 20px;
          background-color: #f4f4f4;

        }



      }
    }
  }














}


























