<ion-header>
  <ion-navbar primary>
    <ion-title>
      {{'settings.title' | translate}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="userHeader">
      <ion-avatar item-start>
        <m-img #mimg *ngIf="userEInfo" [uid]="userInfo.uid" [kind]="'photo'" [ver]="photover" [uname]="userInfo.name"></m-img>
      </ion-avatar>
      <p class="username">{{userName}}</p>
      <button ion-button (click)="openUserInfoOptions()" item-end>{{'settings.edit' | translate}}</button>
    </ion-list-header>
  </ion-list>

  <ion-list no-border>

    <ion-list-header>
      {{'settings.info' | translate}}
    </ion-list-header>


    <button ion-item  (click)="onClickAgreement()" icon-start>
      <ion-icon name="ios-create-outline"  item-start></ion-icon>
      {{'settings.agreement' | translate}}
    </button>

    <button ion-item  (click)="onClickContactUs()" icon-start>
      <ion-icon name="logo-whatsapp"  item-start></ion-icon>
      {{'settings.contact' | translate}}
    </button>


    <button ion-item   icon-start>
      <ion-icon name="planet"  item-start></ion-icon>
      {{'settings.version' | translate}}
      <ion-note item-end>
        1.0.0
      </ion-note>
    </button>

  </ion-list>
</ion-content>




























