page-news-details {

  .srcImageParent{
    margin-top: 12px;
    margin-bottom: 12px;

    width: 100%;
    display: flex;
    justify-content: center;
    img{
      height:15px;
    }
  }

  .titleLine{
    width: 60%;
    height: 2px;
    background-color: #f4f4f4;
    margin: 0 auto;

  }

  .bodyLine{
    width: 90%;
    height: 2px;
    background-color: #f4f4f4;
    margin: 0 auto;
  }


  .titleImage{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .imageTitle{
    margin-top: 20px;
    margin-left:20px;
    margin-right:20px;
    color: #463E3F;
  }

  .commentTitle{
    margin-top: 60px;
    align-items: center;
    h2{
      text-align: center;
      font-size: 18px;
    }
  }

  .newsbody{

    margin-top: 15px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 24px;
    user-select: text;
  }

  .noCommentImg{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 180px;
      height: 70px;
    }

    p{
      color: #6f6687;
      text-align: center;
      align-self: stretch;
    }
    margin-bottom: 60px;

  }

  .comments-list{
    margin-bottom: 120px;
  }

  .mfooter{

    display:flex;
    align-items: stretch;

    .leftback{
      color: #888a8b;
    }

    .leftComment{
      flex: 1 1;
      background-color: #e3e3e5;
      box-shadow: none !important;
      color: #bcbcbc;
    }

    .leftComment .button-inner{
      justify-content:flex-start;
    }

    .right{
      flex: 0 0 80px;
      color: #888a8b;


      .icon{
        font-size: 25px;
        display:flex;
        justify-content: center;
        align-items: center;
        //color: #888a8b;
      }
      span{
        font-size: 15px;
        margin-left: 5px;
        //color: red;

      }

    }
  }
  .oriUrl{
    font-size: 15px;
    color: dodgerblue;
    margin-bottom: 100px;
  }


}
