<!--
  Generated template for the NewsDetails page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

  <h1 padding *ngIf="newsInfo">{{newsInfo.Title}}</h1>

  <div class="titleLine" *ngIf="srcImg && srcImg.srcData">&nbsp;</div>

  <div class="srcImageParent">
    <m-img class="srcImage" *ngIf="newsInfo" [srcId]="newsInfo.SourceId" [kind]='"srcImage"'></m-img>
  </div>

  <div class="titleLine" *ngIf="srcImg && srcImg.srcData">&nbsp;</div>

  <div class = "titleImage">
    <m-img *ngIf="newsInfo && newsInfo.TitleImage" [src]="newsInfo.TitleImage" [kind]="'contentImage'" [nid]="newsInfo.Id"></m-img>
    <p class="imageTitle" *ngIf="newsInfo && newsInfo.TitleImageText && srcImg && srcImg.srcData">{{newsInfo.TitleImageText}}</p>
  </div>

  <div [innerHTML]="newsContent" class="newsbody">
  </div>
  <p text-center=""><button clear class="oriUrl" (click)="onClickOriUrl()">{{'newsDetail.originalLink' | translate}}</button></p>


  <div class="bodyLine" >&nbsp;</div>



  <div class="commentTitle" >
    <h2>{{'newsDetail.comment' | translate}}</h2>
  </div>

  <div class="noCommentImg"  *ngIf="!comments || comments.length <= 0">
      <img src="assets/img/comment_empty.png"  >
      <p>{{'newsDetail.commentEmpty' | translate}}</p>
  </div>


  <ion-list class="comments-list" *ngIf="comments && comments.length > 0">
    <m-comment-item *ngFor="let comment of comments" [comment]="comment" (commentClick)="clickComment($event, comment)" (voteClick)="clickVote($event, comment)" (reportClick)="clickReport($event, comment)"></m-comment-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNewComments($event)" threshold="10px" *ngIf="comments && comments.length > 0 && !refreshEnd">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


<ion-footer>
  <div class="mfooter">

    <button ion-button icon-only [clear]="true"  class="leftback" (click)="navBack($event)">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>

    <button ion-button  class="leftComment"  (click)="writeComment($event)" [round]="true">
      {{'newsDetail.commentWrite' | translate}}
    </button>

    <button ion-button icon-only [clear]="true" [color]="danger" class="right" >
      <ion-icon name="paper"><span *ngIf="newsInfo">{{newsInfo.CommentCnt}}</span></ion-icon>
    </button>

  </div>
</ion-footer>
