<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{'settings.contact' | translate}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h6 id="address">
    {{'settings.mail' | translate}}: ladder2mars1@gmail.com
  </h6>
</ion-content>



























