<ion-header>
  <ion-navbar>
    <ion-title text-center *ngIf="!isReply">{{'newsDetail.commentWrite' | translate}}</ion-title>
    <ion-title text-center *ngIf="isReply">{{'newsDetail.replyWrite' | translate}}</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="cancelNewComment()" class="cancelComment">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <form [formGroup]="createCommentForm" (ngSubmit)="onSubmit(createCommentForm.value)" *ngIf="loaded">
    <ion-item [class.error]="!comment.valid && comment.touched">
      <ion-label floating *ngIf="!isReply">{{'newsDetail.comment' | translate}}</ion-label>
      <ion-label floating *ngIf="isReply">{{'newsDetail.reply' | translate}}</ion-label>
      <ion-textarea [formControl]="comment" rows="10"></ion-textarea>
    </ion-item>
    <div *ngIf="comment.hasError('required') && comment.touched" class="error-box">{{'newsDetail.writeNumLess' | translate}}</div>
    <div *ngIf="comment.hasError('minlength') && comment.touched" class="error-box">{{'newsDetail.writeNumLess' | translate}}</div>
    <div *ngIf="comment.hasError('maxlength') && comment.touched" class="error-box">{{'newsDetail.writeNumMore' | translate}}</div>
    <br/><br/>
    <button ion-button type="submit" class="custom-button" [disabled]="!createCommentForm.valid" block>{{'newsDetail.commentSubmit' | translate}}</button>
  </form>
</ion-content>













