<div class="listItemRoot">

    <div class="listItem" >

      <div class="itemAvatar">
        <m-img #mimg *ngIf="comment" [uid]="comment.Uid" [kind]="'photo'" [ver]="photover" [uname]="comment.Name"></m-img>
      </div>
      <div class="itemContent" >
        <div class="itemContentHead">
          <div class="userInfo">
            <p class="userName">{{comment.Name | unameExtract}}</p>
            <p class="userTime">{{comment.Timestamp | timePast | timePastSplit:'num'}}{{comment.Timestamp | timePast | timePastSplit:'text' | translate}}</p>
          </div>

          <button clear class="empty" (click)="onCommentClick($event)">
            &nbsp;
          </button>

          <div class="rightAccessories"   >
            <button ion-button clear *ngIf="!hideVote" (click)="onVoteClick($event)" [ngClass]="{'thumbUpActive': comment && comment.HasVote == true}"><span><ion-icon name="ios-thumbs-up" [isActive]="comment.HasVote"></ion-icon></span><span>{{comment.Vote}}</span></button>
            <button ion-button clear *ngIf="!hideReplyCount" (click)="onCommentClick($event)"><span><ion-icon name="paper"></ion-icon></span><span>{{comment.ReplyCount}}</span></button>
            <button ion-button clear *ngIf="!hideReport" (click)="onReportClick($event)" ><span><ion-icon name="ios-trash-outline"></ion-icon></span><span>{{'comment.report' | translate}}</span></button>
          </div>
        </div>

        <button class="itemContentBody"  (click)="onCommentClick($event)">
          <p>{{comment.Content}}</p>
        </button>
      </div>
    </div>

</div>
