.listItemRoot{

  margin-top: 5px;

}

.listItem {
  width: 100%;
  display: flex;


  .itemAvatar {

    flex: 0 0 40px;

    img {
      width: 30px;
      height: 30px;
      -webkit-border-radius: 15px; /* Saf3+, Chrome */
      border-radius: 15px; /* Opera 10.5, IE 9 */
      margin-top:10px;
    }

  }


  .itemContent {
    flex: 1 1;
    background: none;
    border-bottom: 1px #f4f4f4 solid;


    .itemContentHead {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .userName{
        font-size: 1em;
        color: #888a8b;
        margin:0 0 5px 0;
        text-align: left;

      }

      .userTime {
        font-size: 0.8em;
        color: #888a8b;
        margin: 0;
        text-align: left;
      }

      .empty{
        flex: 1 1;
        align-self: stretch;
      }


    }

    .itemContentBody {
      background: none;
      padding-left: 0px;
      width:100%;
      p {
        color: #463E3F;
        font-size: 1.4em;
        text-align: left;
        word-wrap: break-word; /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap; /* current browsers */

        margin: 5px 0 5px 0;
      }
    }

  }

  .thumbUpActive{
    ion-icon {
      color: #ca3a11 !important;
    }
    span {
      color: #ca3a11 !important;
    }

  }



  .rightAccessories{

    flex: 0 0 120px;
    display: flex;
    justify-content: space-around;

    button{
      margin-top: 0px;
      margin-bottom: 0px;
      padding-left:0px;
      padding-right:0px;
    }

    ion-icon{
      color: #888a8b;
    }
    span{
      color: #888a8b;
    }


  }


}








